<h1>Show Bank account</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @bank_account.amount %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.bank_account_path(@conn, :edit, @bank_account) %></span>
<span><%= link "Back", to: Routes.bank_account_path(@conn, :index) %></span>
