<section class="row">
  <article class="column">
    <h2>Balances</h2>
    <ul>
      <li>
        Maria: <%= @maria_account.amount %>
      </li>
      <li>
        Jose: <%= @jose_account.amount %>
      </li>
      <li>
        Antonio: <%= @antonio_account.amount %>
      </li>
    </ul>
  </article>
  <article class="column">
    <%= link "Jose Transfer $1,000.00 EUR to Maria", to: Routes.page_path(@conn, :transfer, "Jose", "Maria"), class: "button" %>
    <%= link "Antonio Transfer $1,000.00 EUR to Maria", to: Routes.page_path(@conn, :transfer, "Antonio", "Maria"), class: "button" %>
    <%= link "Maria Transfer $1,000.00 EUR to Jose", to: Routes.page_path(@conn, :transfer, "Maria", "Jose"), class: "button" %>
    <%= link "Maria Transfer $1,000.00 EUR to Antonio", to: Routes.page_path(@conn, :transfer, "Maria", "Antonio"), class: "button" %>
  </article>
</section>
